body {
    background-color: #ecf2f8;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: auto;
  }

#wrapper3 {
  display: flex;    
  flex-wrap: wrap;  
}
#wrapper3 > div {
  flex: 1;          
  min-width: 600px; 
  border: 1px;

}
.PaintingTitle{
  position: relative;
  top:50px;
  left: 10%;
  color: #000000;
  font-size:120px;
} 
.Painting{
  position: relative;
  top:100px;
  left:10%;
  width: 1000px;
  height: 800px;
  margin-bottom: 50px;
  margin-right: 700px;
}
.Text{
  position: relative;
  top: 150px;
  margin-left:10%;
  min-width: 150px;
  max-width: 1600px;
  margin-bottom: 100px;
  margin-right: 50px;
  text-align: justify;
  font-size: 36px;
}
.Name{

}
.Artist{

}
.Description{
margin-top:50px;
font-size:24px;
}

img{
    min-height: 800px;
    max-height: auto;
    width: auto;
    position: relative;
    top: 50px;
    border-radius: 10px;
    margin:-10px;
}
