body {
    background-color: #dbe7f3;
    font-family: 'Barlow Semi Condensed', sans-serif;
    height: auto;
    margin: auto;
    min-width: 0px;
  }
.whiteText {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: antiquewhite !important;
  }
#wrap { 
  width:80%;
  margin-left:auto;
  margin-right:auto;
}

#wrapper2 {
  display: flex;    
  flex-wrap: wrap; 
}
#wrapper2 > div {
  flex: 1;          
  min-width: 500px; 
  border: 1px;
}

.Titlebox{
  position: relative;
  top:50px;
  text-align: center;
  color: #000000;
  font-size:150px;
} 
.box{
  
  margin: auto;
  position: relative;
  top:100px;
  margin-bottom: 15%;
  background-size: auto 100%;
  background-position: center;
  width: auto;
  min-height: 200px;
  max-height: 1000px;
  border-radius: 20px;
}

/*
.ibox{
  float: center;
  position: relative;
  top:200px;
  width: auto;
  height:500px;
  text-align: center;
  border-radius: 20px;
}
.*/
@media screen and (max-width: 800px) {
  .cont3 {
    margin-left:-7%;
  }
}
.paintBox{
  top: 150px;
  position: relative;
  text-align: center;
  height: 500px;
  width: 25%;
  margin: 5%;
}

.imgDown{
    min-height: 150px;
    max-height: 350px;
    width: auto;
    position: relative;
    top: 50px;
    border-radius: 10px;
    margin:10px;
}


h1{
  font-size: 30px;
  position: relative;
  top: 50px;
  color: #000000;
}
vg{
  position: relative;
  top: 30px;
  color: #000000;
  font-size:20px;
}

dg{
  color: #48556a;
}


#wrapper3 {
display: flex;    
flex-wrap: wrap;  
}
#wrapper3 > div {
flex: 1;          
border: 1px;
}
.PageTitle{
position: relative;
top:100px;
color: #000000;
font-size:120px;
} 
.Painting{
position: relative;
top:100px;
left:10%;
width: 1000px;
height: 800px;
margin-bottom: 50px;
margin-right: 700px;
}
.Container{
position: relative;
top: -50px;
min-width: 50px;
max-width: 1800px;
margin-bottom: 100px;
margin-right: 50px;
text-align: justify;
font-size: 36px;
}
.imgLogo {
  height: 30px;
  width: auto;
  position: relative;
  border-radius: 10px;
  margin: 3px;
}
.RightImg{
position: fixed;
top:250px;
right:5%;
width: 500px;
height: 600px;
margin-right: 50px;
}
@media screen and (max-width: 400px) {
  .AUText {
    width:60%;
    font-size: 18px;
 }
}
@media screen and (max-width: 1300px) {
  .imgDisp {
      display: none !important;
  }
}

.AUText{
position: relative;
top: 150px;
min-width: 200px;
max-width: 2500px;
margin-bottom: 300px;
margin-right: 50%;
text-align: justify;
font-size: 36px;
}

.Subtitle{
  margin-top:50px;
}
.Description{
font-size:24px;
}
.whiteText {
font-family: 'Barlow Semi Condensed', sans-serif;
color: antiquewhite !important;
}
.cDisp{
margin-top: 150px;
width: 1500px;
}

.imgDisp{
  min-height: 700px;
  max-height: auto;
  width: auto;
  position: relative;
  border-radius: 10px;
  top:100px;
  right:-100px;
}
